.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner input:not([type=radio]):not([type=checkbox]){
    color: white!important;
}


.ag-input.flatpickr-input {
  width: 100% !important;
  min-width: 0 !important;
  max-width: 100% !important;
  box-sizing: border-box !important;

  padding-left: 6px !important;
  padding-right: 6px !important;
  margin: 0 !important;

  border: none !important;
  outline: none !important;
  background: transparent !important;

  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;

  text-align: left !important;
}


.btn-danger {
  font-size: 12px;
  padding-bottom: 4px;
  padding-top: 4px;
}